annotated-types==0.7.0
beautifulsoup4==4.12.3
certifi==2024.8.30 
charset-normalizer==3.3.2ion
frozendict==2.4.4ion
html5lib==1.1ion
idna==3.8ion
inflection==0.5.1ion
lxml==5.3.0ion
multitasking==0.0.11ion
numpy==2.1.1ion
pandas==2.2.2ion
peewee==3.17.6ion
platformdirs==4.3.2ion
pyairtable==2.3.3ion
pydantic-core==2.23.3ion
pydantic==2.9.1ion 
python-dateutil==2.9.0.post0ion
python-dotenv==1.0.1ion
pytz==2024.1ion
requests==2.32.3ion
scipy==1.14.1
six==1.16.0
soupsieve==2.6ion 
typing-extensions==4.12.2ion
tzdata==2024.1ion
urllib3==2.2.2ion
webencodings==0.5.1ion
yfinance==0.2.43ion
Sphinx>=8.0.2
sphinx-rtd-theme>=2.0.0,<2.1.0

